@font-face {
    font-family: 'Roboto-Thin';
    src: url(fonts/Roboto-Thin.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Light';
    src: url(fonts/Roboto-Light.ttf);
    font-weight: normal;
    font-style: normal;
}

:root {
    --body-bg-color: #FAFAFA;
    --font-name-color: #CCCCCC;
    --main-bg-color: #FFFFFF;
    --boxshadow-color: #E6E6E6;
    --footer-font-color: #888888;
    --checkbox-completed: #5DC2AF;
}

body {
    margin: 0;
    background: var(--body-bg-color);
}

.todo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.todo__header .name {
    font-family: "Roboto-Thin", sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 100px;
    line-height: 21px;
    color:  var(--font-name-color);
    letter-spacing: -2.5px;
}

.todo__main {
    display: flex;
    flex-direction: column;
    position: relative;

    width: 562px;
    min-height: 402px;
    background: var(--main-bg-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.main__add-todo {
    display: flex;
    flex-direction: row;
    height: 66px;

    position: sticky;
    top: 0;

    box-shadow: inset 0 -1px 0 var(--boxshadow-color);
}
.select-all__button {
    text-indent: -9999px;
    width: 65px;
    height: 65px;
    border: 0;
    margin-right: 1px;
    background: white url("../icons/select-all.svg") no-repeat center center;
}

.select-all__button:hover {
    cursor: pointer;
    background-color: var(--body-bg-color);
}

.add-todo__create-new-todo {
    width: 100%;
}

.create-new-todo__input {
    font-family: "Roboto-Thin", sans-serif;
    font-style: italic;
    font-weight: 300;
    font-size: 24px;
    line-height: 21px;
    letter-spacing: -0.6px;
    color:var(--font-name-color);

    border: 0;
    padding: 0;

    margin-left: 0;
    height: 100%;
    width: 100%;
    box-shadow: inset 0 -1px 0 var(--boxshadow-color);
}

.main__my-todos {
    min-height: 293px;
}

.my-todos__list {
    margin: 0;
    padding-left: 0;
}

.list__item {
    list-style-type: none;
    min-height: 62px;
    display: flex;
    align-items: center;
    border-bottom: inset 1px var(--boxshadow-color);
}

.item__view {
    font-family: "Roboto-Light", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    color: #666666;
    letter-spacing: -0.6px;

    display: flex;
    align-items: center;
    width: 100%;
}

.item__todo-element-text:hover {
    cursor: pointer;
}

.item__todo-element-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
    left: -99999px;
}


.item__todo-element-checkbox + label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}

.item__todo-element-checkbox + label::before {
    content: '';
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid var(--boxshadow-color);
    border-radius: 1em;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 1.4em 1.4em;
    background-color: white;
}

.item__todo-element-checkbox:checked + label::before {
    border-color: var(--checkbox-completed);
    background: url("../icons/completed.svg") no-repeat center center;
}

.item__todo-element-checkbox:checked ~ label {
    color: var(--font-name-color);
    text-decoration-line: line-through;
}

.item__todo-element-checkbox:focus + label:before {
    border: 2px solid black;
}
.item__delete {
    height: 100%;
}

.item__delete-button {
    position: relative;
    left: -9999px;
    text-indent: -9999px;

    width: 62px;
    height: 62px;
    border: 0;
    background: url("../icons/close.svg") no-repeat center center;
}

.item__delete-button:focus {
    left: 0;
    border: 1px solid black;
}

.list__item:hover {
    cursor: pointer;
    background-color: var(--body-bg-color);
    box-shadow: inset 0 -1px 0 var(--boxshadow-color);
}

.list__item:hover .item__delete-button {
    cursor: pointer;
    left: 0;
}

.item__todo-element-text {
    width: 100%;
    padding-left: 11px;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;word-break: break-word;
}


.main__footer {
    font-family: "Roboto-Light", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.35px;
    color: var(--footer-font-color);

    height: 43px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid var(--boxshadow-color);

    position: sticky;
    bottom: 0;
    background-color: white;
}

.footer__items-left {
    padding-left: 9px;
}

.tabs__input {
    opacity: 0;
    position: absolute;
    left: -9999px;
}

.tabs__input + .tabs__text {
    display: inline-block;
    cursor: pointer;
    padding: 0 9px;
    border-radius: 2px;
    user-select: none;
}
.tabs__input:checked:focus + .tabs__text {
    border: 1px solid black;
}

.tabs__input:checked+.tabs__text {
    border: 1px solid var(--boxshadow-color);
}

.footer__completed {
    padding-right: 9px;
}

.completed-button {
    font-family: "Roboto-Light", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.35px;
    color: var(--footer-font-color);

    background-color: white;
    border: 0;
}

.completed-button:hover {
    cursor: pointer;
    background-color: var(--body-bg-color);
}

.todo__main:before {
    display: block;
    position: absolute;

    content: '';
    width: 558px;
    height: 5px;
    left: 2px;
    top: 100%;
    z-index: -1;

    background-color: var(--main-bg-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.todo__main:after {
    display: block;
    position: absolute;
    content: '';
    width: 554px;
    height: 10px;
    left: 4px;
    top: 100%;
    z-index: -2;

    background-color: var(--main-bg-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}