.todo__main:before {
  display: block;
  position: absolute;
  content: '';
  width: 558px;
  height: 5px;
  left: 2px;
  top: 100%;
  z-index: -1;
  background-color: var(--main-bg-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.todo__main:after {
  display: block;
  position: absolute;
  content: '';
  width: 554px;
  height: 10px;
  left: 4px;
  top: 100%;
  z-index: -2;
  background-color: var(--main-bg-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
